@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kenia&family=Roboto+Slab:wght@100;300;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --main: #AC1B1A;
    --main2: #683B2A;
    --main3: #DFCBB2;
    --main4: #253A59;

    --ft: #464646;
    /* --border : .rem solid rgba(199,199,199,0.3) */
}

* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: #fff;

}



/* header */
/* header */
header {
    color: var(--ft);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 80px;
}

.header .logo img {
    height: 3rem;
}

.header .navbar a {
    margin: 0 2rem;
    color: #464646;
    font-size: 2rem;
}

.header .navbar a:hover {
    color: var(--main);
    /* border-bottom: .2rem dotted var(--main); */
}

.header .icons {
    display: flex;
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    gap: 40px;
}

.header .icons div:hover {
    color: var(--main);
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
}

.header .search-form.active {
    transform: scaleY(1);
}

.header .search-form input {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    color: #464646;
    padding: 1rem;
}

.header .search-form label {
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: #464646;
    margin-left: 1.5rem;
}

.header .search-form label:hover {
    color: #AC1B1A;
    cursor: pointer;
}


/* home start */
/* home start */
section {
    padding: 2rem 12%;
}
.home{
    padding-top : 9rem;
}
.home .homebg{
    width : 100%;
}
.home .slide {
    min-height: 100vh;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover !important;
    background-position: center !important;
    z-index: -1;
}

.home .swiper-slide {
    padding-right: 0;
}

.home .content{
    float: right;
    width: 150rem;    
    padding-left: 80rem;
}
.home .slide .content h3 {
    max-width: 50rem;
    font-size: 5rem;
    color: var(--main3);
    /* text-shadow: 4px 2px 2px gray;/ */
}

.home .slide .content p {
    color: #fff;
    font-size: 2.2rem;
    line-height: 1;
    padding: 1rem 0;
}

.swiper-button-prev,
.swiper-button-next {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    color: #fff;

}

.homebg{
    object-fit: cover;
}

/* .swiper-button-prev::after, .swiper-button-next::after{
    font-size: 2rem;
} */
.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: var(--main3);
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.5rem;
    color: #fff;
    background: var(--main2);
    border-radius: 70px;
    cursor: pointer;
}

.btn:hover {
    background-color: #464646;
    color: #fff;
}




/* themes start */
/* themes start */
.heading {
    text-align: center;
    color: #acacac;
    padding: 6.5rem 0;
    padding-bottom: 0;
    font-size: 1.8rem;
    font-weight: normal;
}

.heading span {
    color: var(--ft);
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: bold;

}

/* .themes .heading{
    padding-bottom: 2rem;
} */
.themes .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 0;
    /* height: 65rem; */
}

.themes .box-container .box {
    padding-bottom: 0;
    text-align: center;
    border: #fff;
    background-color: #fff;
}

.themes .box-container:hover {}

.themes .box-container .box .image {
    padding: 2rem 0;
}

.themes .box-container .box img {
    width: 90%;
    border-radius: 10px;
    padding-bottom: 0;
}

.themes .box-container .box img:hover {
    /* border: var(--main3) solid 2px; */
    border-radius: 10px;
    transform: scale(1.02);
    transition: all .2s;
    opacity: 0.6;
    /* background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 80%,
            #000 100%);
    background-size: cover; */
    cursor: pointer;
}

.themes .box-container .box .content h3 {
    color: var(--ft);
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

/* 
background: linear-gradient(to bottom,
rgab(0,0,0,0) 0%,
rgab(0,0,0,0) 50%,
rgab(0,0,0,0) 80%,
#000 100%),
url(../images/img1-1.jpg) center center no repeat;
background-size: cover;
*/


/* weekly start */
/* weekly start */
.weekly {
    padding: 0 10%;
}

.weekly .heading {
    padding: 3.5rem 0;
    padding-bottom: 0;
}

.weekly .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 5rem;
    padding: 3rem 0;
}

.weekly .box-container .box {
    text-align: center;
    padding: 1rem 0 2rem;
    color: var(--border);
    /* background: #000; */
    width: 95%;
    height: 43rem;
    margin: auto;
}

.weekly .box-container .box img {
    border-radius: 10px;
    height: 80%;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    object-fit: cover;
}

.weekly .box-container .box h3 {
    padding-top: 0.5rem;
    padding-left: 2rem;
    text-align: left;
    color: var(--ft);
    font-size: 2.5rem;
}

.weekly .box-container .box p {
    padding-left: 2rem;
    text-align: left;
    color: #acacac;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.weekly .box-container .box .price span {
    padding-left: 20rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: var(--ft);
}

.weekly .box-container .box img:hover {
    transform: scale(1.02);
    transition: all .2s;
    opacity: 0.6;
    cursor: pointer;
}

/* .themes .box-container .box .icons a {
    width: 5rem;
    height: 5rem;
    font-size: 2rem;
    border: #4f709c solid 1px;
    border-radius: 50%;
    color: var(--main-color);
    line-height: 5rem;
    margin: 0.5rem;
} */

.btnw {
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.weekly a {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin: auto;
    padding-top: 1rem;
}

.btn_w {
    width: 20%;
    padding: 1rem 0;
    font-size: 1.5rem;
    background-color: var(--ft);
    color: #fff;
    cursor: pointer;
}

.btn_w:hover {
    color: var(--ft);
    border: var(--ft) solid 1px;
    background-color: #fff;
    font-weight: bold;

}

/* magazine start */
/* magazine start */
.world {
    background-color: #fff5ec;
    height: 80rem;
    padding: 0 10rem;
}

.world .box-container {
    /* display: grid;
    grid-template-columns: 
        repeat(auto-fill, minmax(30rem, 1fr)); */
    display: flex;
    /* gap:4rem; */
    align-items: center;
    justify-content: center;
    height: 80rem;
    width: 100%;

}

.world .box-container img {}

.world .box-container .products1 {
    display: flex;
    width: 45rem;
    height: 90%;
    
}

.world .box-container .products1 img {
    height: 90%;
    margin: auto 0;
}
.world .box-container .products2 {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    width: 55rem;
    height: 45rem;
    padding-left: 3rem;
    overflow: hidden;
}

.world .box-container .products2 img {
    height: 90%;
}

.world .content {
    padding-right: 20px;
    margin: auto 0;
    max-width: 35rem;
}

.world .content h3 {
    max-width: 40rem;
    font-size: 4.5rem;
    color: var(--main2);
    line-height: 1.2;
}

.world .content p {
    color: #464646;
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 1rem 0;
    max-width: 30rem;
}

.btn_m {
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 2.5rem;
    font-size: 1.5rem;
    color: #fff;
    background: var(--main4);
    border-radius: 70px;
    cursor: pointer;
}

.btn_m:hover {
    background-color: #464646;
    color: #fff;
}

/* coordi start */
/* coordi start */
section .coordi {
    padding-top: 3rem;
}
.coordi{
    background-color: #e8e7e5;
    margin: 7rem 0 0 0;
}

.coordi .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;
    padding: 0;
}
.coordi h1 span{
    color: #fff;
}

.coordi .box-container .box {
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.coordi .box-container .box .image {
    /* padding: 2rem 0; */
}

.coordi .box-container .box img {
    width: 100%;
}
.coordi a {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin: auto;
    padding-top: 1rem;
}




/* footer starts */
.footer {
    background: var(--bg);
    text-align: center;
    padding-top: 5rem;
}

.footer .share {
    padding: 1rem 0;
}

.footer .share a {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--main-color);
    border: var(--border);
    border-radius: 50%;
    margin: .3rem;

}

.footer .share a:hover {
    background: var(--ft);
    color: #fff;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a {
    color: var(--ft);
    border: var(--ft);
    font-size: 1.3rem;
    padding: .7rem 1rem;
}

.footer .links a:hover {
    /* background: var(--ft); */
    color: var(--main);
    font-weight: bold;
}

.footer .fin p {
    font-size: 1.5rem;
}

.footer .credit {
    font-size: 1.5rem;
    color: var(--ft);
    padding: 1.5rem;
    font-weight: lighter;
}

.footer .credit span {
    color: var(--main);
}







/* 반응형 */
/* media queries _ break point */

@media (max-idth:1440px) {

    .home .slide {
        
    }

    .home .slide .content {
        
    }

    .world{
    }
    .world .content h3 {
    }

    .world .content p {
    }

    .world .box-container .products1{
        
    }
    .world .box-container .products2{
        
    } 
} 

@media (max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }
    .home .slide {
        min-height: 48vh;
    }
    .swiper-wrapper {
        height: 50rem !important;
    }

    .home .content {
        height: 20%;
        align-items: center;
        max-width: 80rem;
        padding-bottom: 17rem;
        padding-left: 40rem;
    }
    .themes{
        padding-bottom: 0;
    }
    .themes .box-container {
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    }

    .weekly .box-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        gap: 2rem;
    }

    .weekly .box-container .box {
        width: 95%;
        height: 30rem;
    }
    .weekly .box-container .box img{
        height: 20rem;
    }


    .weekly .box-container .box h3 {
        font-size: 2rem;
    }

    .weekly .box-container .box p {
        font-size: 1rem;
    }

    .weekly .box-container .box .price span {
        padding-left: 8rem;
    }
    .btnw{
        padding-top: 3rem;
    }

    .world {
        height: 60rem;
    }

    .world .box-container .content {
        max-width: 25rem;
    }
    .world .box-container .content h3{
        font-size: 3.5rem;
    }

    .world .box-container {
        height: 60rem;
    }

    .world .box-container .products1 {
        /* width: 35rem; */
        /* height: 70%; */
        margin: 0;
    }


    .world .box-container .products2 {
        width: 30rem;
        overflow: hidden;
        padding-left: 1.5rem;
    }

    /* .coordi .box-container {
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    } */

}

@media (max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: var(--main2);
        width: 31rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar a {
        color: #fff;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        text-align: center;
    }

    .header .navbar a:hover {
        color: var(--main3);
    }

    .header .navbar.active {
        right: 0;
    }
    
    .home .content {
        height: 20%;
        align-items: center;
        max-width: 70rem;
        padding-bottom: 10rem;
        padding-left: 40rem;
    }
    .home .slide .content h3{
        font-size: 3rem;
    }

    .themes{
        padding: 2rem 6%;
    }
    .themes .box-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }

    .weekly .box-container {
        grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
        gap: 2rem !important;
    }

    .weekly .box-container .box {
        width: 95%;
        height: 53rem;
    }
    .weekly .box-container .box img{
        height: 40rem;
    }

    .weekly .box-container .box h3 {
        font-size: 3rem;
    }

    .weekly .box-container .box p {
        font-size: 1.5rem;
    }

    .weekly .box-container .box .price span {
        padding-left: 0;
    }

    .world {
        height: 60rem;
    }

    .world .box-container {
        gap: 2rem;
    }

    .world .box-container .products2 {
        display: none;
    }

    .coordi {
        padding: 0;
    }

    .coordi .box-container {
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        /*overflow: hidden; */
        margin: 2rem;
    }

    .coordi .box-container .box {
        padding: 0;
    }
    .coordi .box-container .box img{
        width: 25rem;
    }
    .coordi .box-container .box2 {
        /* display: none; */
    }
    .btnw{
        padding-bottom: 7rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .header .navbar {
        width: 16rem;
    }
    .home .homebg img{
    }

    .home .content {

        max-width: 40rem;
        padding-bottom: 16rem;
        padding-left: 16rem;
    }
    .home .slide .content h3{
        font-size: 3rem;
    }
    .themes .box-container {
        grid-template-columns: repeat(3, 120px);
    }
    .themes .box-container .box .content h3 {
        color: var(--ft);
        font-size: 1.5rem;
        padding-bottom: 0;
    }
    

    

    .weekly .box-container {
        display : grid;
        grid-template-columns: repeat(2, 165px);
        gap: 2rem;
    }
    .weekly .box-container .box {
        width: 100%;
        height: 30rem;
    }
    .weekly .box-container .box img{
        height: 20rem;
    }
    .weekly .box-container .box h3 {
        padding-top: 0;
        font-size: 2rem;
    }
    .weekly .box-container .box p {
        font-size: 1.5rem;
        padding-bottom: 0;
    }
    .weekly .box-container .box .price span {
        font-size: 1.7rem;
        padding-left: 0;
    }
    .weekly .btnw a{
        width: 12rem;
    }
    .btnw{
        padding-top: 3rem;
        padding-bottom: 7rem;
    }

    .world {
        height: 50rem;
        padding: 5rem;
    }
    .world .box-container {
        height: 40rem;
    }
    .world .box-container .products1 {
        width: 50rem;
        /* height: 70%; */
        margin: 0;
    }

    .world .content h3{
        font-size: 1.5rem;
    }
    .world .content p{
        display: none;
    }
    
    .coordi {
        padding: 2rem;
    }
    .coordi h1{
        /* font-size: 60%; */
    }
    .coordi h1 span{
        font-size: 3rem;
    }
    .coordi .box-container {
        display: grid;
        grid-template-columns: repeat(3, 120px);
    }

    .coordi .box-container .box2 {
        display: none;
    }
    .coordi .box-container .box img{
        width : 15rem;
    }

    .coordi .box-container .box{
        width: 100%;
        overflow: hidden;
    }
    
    .coordi .box-container .box2 {
        display: none;
    }
    .coordi .btnw{
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    

}