
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.black-han sans-regular {
   font-family: "Black Han Sans", sans-serif;
   font-weight: 400;
   font-style: normal;
 }
 
body{
    width: 1200px; 
    margin:auto;
}

/* header */

header{
   height: 100px;
   padding-top: 50px;
}

.title h1{
    font-size: 2.7rem;
    text-align: center;
    line-height: 1;
    color: #051b10;
    font-family: "Black Han Sans", sans-serif;
   font-weight: normal;
}

.title span{
    color:  #0d462c;
    font-size: 4.5rem;
}

/* section */
section{
    height: auto;
    width: 1200px;
    overflow: hidden;
}

.concept img{
    width: 100%;
    padding: 0 .5rem;
  }


/* footer */
footer{
    clear: both;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 6rem 0 3rem 0;
    
}
.btn{
    width: 18rem;
    height: 3rem;
    font-size: 1.5rem;
    list-style: none;
    background: #0d462c;
    border: 0;
}

.btn a{
    text-decoration: none;
    color: #fff;
}


/* 화면너비 0 ~ 768px */
@media (max-width:768px){
 .project{
    width: 758px;
 }
 .title{
    width: 758px;
 }
 .title h1{
   text-align: center;
   padding: 45px 7rem;
   font-size: 2.3rem;
   line-height: 1;
   }
 .concept{
    width: 758px;
 }
 .concept img{
   width: 100%;
 }

}


/* 화면너비 0~420px */
@media (max-width:420px){
    body{
        width: 350px;
        margin: auto;
    }
    .project{
        width: 350px;
        
     }
     .title{
        width: 350px;
        margin: auto;
     }
     .title h1{
        text-align: center;
        font-size: 1.5rem;
     }
     header{
        height: auto;
     }
     .concept{
        width: 350px;
     }
     .concept img{
       width: 100%;
     }

     .footer{
        width: 350px;
        margin-left: 0;
     }
     .btn{
        width: 5rem;
        height: 2rem;
        font-size: .9rem;
     }
     }
